<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <!-- 複数のコントローラにわたるビューに対しては, 専用のshared/ディレクトリを使用するので, mkdirする必要がある-->
    <%= render 'layouts/form' %>

  </div>
</div>